/* CSS RESET */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* CSS File */

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-pale-blue: hsl(221, 100%, 96%);
  --color-light-lavender: hsl(241, 100%, 89%);
  --color-dark-gray-blue: hsl(224, 30%, 27%);

  --color-light-slate-blue: hsl(252, 100%, 67%);
  --color-light-royal-blue: hsl(241, 81%, 54%);

  --color-violet-blue: hsla(256, 72%, 46%, 1);
  --color-persian-blue: hsla(241, 72%, 46%, 90%);

  --font-size-p: 1.125rem;

  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
}

@font-face {
  font-family: Hanken Grotest;
  src: url(assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

/* General Styling */

body {
  font-family: Hanken Grotest, sans-serif;
  background-color: var(--color-pale-blue);
}

/* Utility classes */

.flex-group {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

/* Not visible on the page but accessible to screen-readers */
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Result */

.result {
  --content-padding: 1.5rem 3.5rem 1.875rem;
  --content-spacing: 1rem;
  display: grid;
  background-color: var(--color-white);
}

.result__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--content-spacing);
  padding: var(--content-padding);
  background: linear-gradient(
    var(--color-light-slate-blue),
    var(--color-light-royal-blue)
  );
  border-radius: 0 0 1.5rem 1.5rem;
  color: var(--color-light-lavender);
}

@media (min-width: 600px) {
  body {
    display: grid;
    place-content: center;
    margin: 1rem;
  }

  .result {
    grid-template-columns: 1fr 1fr;
    max-width: 600px;
  }

  .result__content {
    border-radius: 1.5rem;
  }

  .summary {
    border-radius: 0 1.5rem 1.5rem 0;
  }
}

.result__title {
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-medium);
}

.result__score {
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    var(--color-persian-blue),
    var(--color-violet-blue)
  );
  border-radius: 100%;
}

.result__score__content {
  font-size: 3rem;
  font-weight: var(--font-weight-extra-bold);
  color: var(--color-pale-blue);
}

.result__description {
  text-align: center;
}

.result__description__remark {
  color: var(--color-pale-blue);
  font-size: 1.5rem;
  font-weight: var(--font-weight-medium);
  margin-bottom: 0.5rem;
}

/* Summary */

.summary {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.summary__title {
  font-size: var(--font-size-p);
  color: var(--color-dark-gray-blue);
  margin-bottom: 0.5rem;
}

.summary__category {
  margin: 0.75rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0 1rem;
  border-radius: 0.5rem;
  font-weight: var(--font-weight-medium);
}

.summary__category__name {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

/* Icons next to category names */

.summary__category__name[data-icon]::before {
  content: "";
  width: 20px;
  height: 20px;
}

.summary__category__name[data-icon="reaction"]::before {
  background-image: url("assets/images/icon-reaction.svg");
}
.summary__category__name[data-icon="memory"]::before {
  background-image: url("assets/images/icon-memory.svg");
}
.summary__category__name[data-icon="verbal"]::before {
  background-image: url("assets/images/icon-verbal.svg");
}
.summary__category__name[data-icon="visual"]::before {
  background-image: url("assets/images/icon-visual.svg");
}

.summary__category__reaction {
  background-color: hsla(0, 100%, 67%, 10%);
  color: hsl(0, 100%, 67%);
}

.summary__category__memory {
  background-color: hsla(39, 100%, 56%, 10%);
  color: hsl(39, 100%, 56%);
}

.summary__category__verbal {
  background-color: hsla(166, 100%, 37%, 10%);
  color: hsl(166, 100%, 37%);
}

.summary__category__visual {
  background-color: hsla(234, 85%, 45%, 10%);
  color: hsl(234, 85%, 45%);
}

.summary__category__score {
  color: var(--color-dark-gray-blue);
  font-weight: var(--font-weight-bold);
}

.summary__category__total__score {
  color: var(--color-light-lavender);
}

/* Button */

.button {
  cursor: pointer;
  text-decoration: none;
  border: 0;
  padding: 0.5em 1.5em;

  width: 70%;
  border-radius: 2rem;
  display: block;
  margin: auto;
  background-color: var(--color-dark-gray-blue);
  color: var(--color-pale-blue);
}

.button:hover {
  background-color: var(--color-light-royal-blue);
}
